In [24]:
import pandas as pd
from datetime import datetime
import warnings

warnings.filterwarnings("ignore")

# Läs in data en gång
df_customers = pd.read_csv("./data/sebank_customers_with_accounts.csv")
df_transactions = pd.read_csv("./data/transactions.csv")
df_transactions["timestamp"] = pd.to_datetime(df_transactions["timestamp"])

In [12]:
df_null = pd.read_csv("data/sebank_customers_with_accounts.csv")
print(f"Rows with nulls: {len(df_null)}")
df_null.head()

Rows with nulls: 1000

,Customer,Address,Phone,Personnummer,BankAccount
0,Sofie Ibrahim,"Ängsvägen 03, 14010 Gävle",061-608 60 88,400118-5901,SE8902EPWK73250364544965
1,Sofie Ibrahim,"Ängsvägen 03, 14010 Gävle",061-608 60 88,400118-5901,SE8902IDSK51225196610969
2,Mona Lundgren,"Kyrkvägen 084, 49722 Göteborg",+46 (0)396 101 64,391117-9285,SE8902OGIV86383792142837
3,Mona Lundgren,"Kyrkvägen 084, 49722 Göteborg",+46 (0)396 101 64,391117-9285,SE8902QZEZ52320024971424
4,Tuulikki Blomqvist,"Kvarnvägen 654, 94181 Borås",+46 (0)918 939 10,981215-7254,SE8902DWZI85436013187521

In [17]:
# Extrahera gatunummer (efter sista mellanslaget före kommatecken)
df_customers["Street"] = df_customers["Address"].str.extract(r"^(.*),")[0]
df_customers["StreetNumber"] = df_customers["Street"].str.extract(r"(\d+)$")

gator_med_00 = df_customers[df_customers["StreetNumber"] == "00"]
print(f"\nAddresses with postal code '00': {len(gator_med_00)}")
gator_med_00[["Customer", "Address"]].head()

Addresses with postal code '00': 1

           Customer                        Address
447  Christina Dahl  Parkstigen 00, 80634 Alingsås

In [18]:
gator_som_borjar_pa_0 = df_customers[df_customers["StreetNumber"].str.startswith("0")]
print(f"\nAddresses with postal code starting with '0': {len(gator_som_borjar_pa_0)}")
gator_som_borjar_pa_0[["Customer", "Address"]].head()

Addresses with postal code starting with '0': 137

             Customer                        Address
0       Sofie Ibrahim      Ängsvägen 03, 14010 Gävle
1       Sofie Ibrahim      Ängsvägen 03, 14010 Gävle
2       Mona Lundgren  Kyrkvägen 084, 49722 Göteborg
3       Mona Lundgren  Kyrkvägen 084, 49722 Göteborg
12  Camilla Johansson   Åkertorget 069, 39757 Motala

In [19]:
plus46 = df_customers[df_customers["Phone"].astype(str).str.startswith("+46")]
print(f"\nNumbers starting with '+46': {len(plus46)}")
plus46[["Customer", "Phone"]].head()

Numbers starting with '+46': 309

             Customer              Phone
2       Mona Lundgren  +46 (0)396 101 64
3       Mona Lundgren  +46 (0)396 101 64
4  Tuulikki Blomqvist  +46 (0)918 939 10
5  Tuulikki Blomqvist  +46 (0)918 939 10
6  Tuulikki Blomqvist  +46 (0)918 939 10

In [23]:
starts_with_00 = df_customers[df_customers["Phone"].astype(str).str.startswith("00")]
print(f"\nNumbers starting with '00': {len(starts_with_00)}")
starts_with_00[["Customer", "Phone"]].head()

Numbers starting with '00': 24

                     Customer          Phone
165  Zahra Svensson-Johansson    0026-601 74
252        Caroline Sjölander    0080-904 34
350                 Iris Bäck    0049-114 10
416            Alice Carlsson  005-124 78 23
471             Maria Nyström  002-864 34 55