In [7]:
import pandas as pd
from datetime import datetime
import warnings

warnings.filterwarnings("ignore")

# Läs in data en gång
df_customers = pd.read_csv("./data/sebank_customers_with_accounts.csv")
df_transactions = pd.read_csv("./data/transactions.csv")
df_transactions["timestamp"] = pd.to_datetime(df_transactions["timestamp"])

In [37]:
starts_with_00 = df_customers[df_customers["Phone"].astype(str).str.startswith("00")]
unique_phones = starts_with_00[["Customer", "Phone"]].drop_duplicates()

print(f"\nPhone numbers starting with '00': {len(unique_phones)}")
unique_phones.head()

Phone numbers starting with '00': 14

                     Customer          Phone
165  Zahra Svensson-Johansson    0026-601 74
252        Caroline Sjölander    0080-904 34
350                 Iris Bäck    0049-114 10
416            Alice Carlsson  005-124 78 23
471             Maria Nyström  002-864 34 55

In [40]:
# Telefonnummer som börjar med +46 – unika rader
plus46 = df_customers[df_customers["Phone"].astype(str).str.startswith("+46")]
plus46_unique = plus46[["Customer", "Phone"]].drop_duplicates()
print(f"\nPhone numbers starting with '+46': {len(plus46_unique)}")
plus46_unique.head()

Phone numbers starting with '+46': 178

                  Customer               Phone
2            Mona Lundgren   +46 (0)396 101 64
4       Tuulikki Blomqvist   +46 (0)918 939 10
11  Isabelle Hjelm-Larsson  +46 (0)20 79 17 12
23          Ida Haraldsson   +46 (0)507 376 03
31           Karin Nilsson   +46 (0)975 970 92

In [41]:
# Telefonnummer med mellanslag eller bindestreck – unika rader
space_or_dash = df_customers[df_customers["Phone"].str.contains(r"[ \-]")]
space_or_dash_unique = space_or_dash[["Customer", "Phone"]].drop_duplicates()
print(f"\nPhone numbers with space or dash: {len(space_or_dash_unique)}")
space_or_dash_unique.head()

Phone numbers with space or dash: 581

                  Customer               Phone
0            Sofie Ibrahim       061-608 60 88
2            Mona Lundgren   +46 (0)396 101 64
4       Tuulikki Blomqvist   +46 (0)918 939 10
9               Maria Lund       011-396 09 07
11  Isabelle Hjelm-Larsson  +46 (0)20 79 17 12

In [42]:
gator_som_borjar_pa_0 = df_customers[df_customers["StreetNumber"].astype(str).str.startswith("0")]
gator_unique = gator_som_borjar_pa_0[["Customer", "Address"]].drop_duplicates()
print(f"\nAddresses with street number starting with '0': {len(gator_unique)}")
gator_unique.head()

Addresses with street number starting with '0': 76

                Customer                        Address
0          Sofie Ibrahim      Ängsvägen 03, 14010 Gävle
2          Mona Lundgren  Kyrkvägen 084, 49722 Göteborg
12     Camilla Johansson   Åkertorget 069, 39757 Motala
28  Mari Granath Åkesson  Ringvägen 046, 63456 Karlstad
40    Margareta Eriksson  Parkgatan 083, 83788 Göteborg

In [35]:
# Extrahera gatunummer (efter sista mellanslaget före kommatecken)
df_customers["Street"] = df_customers["Address"].str.extract(r"^(.*),")[0]
df_customers["StreetNumber"] = df_customers["Street"].str.extract(r"(\d+)$")

gator_med_00 = df_customers[df_customers["StreetNumber"] == "00"]
print(f"\nAddresses with street number '00': {len(gator_med_00)}")
gator_med_00[["Customer", "Address"]].head()

Addresses with street number '00': 1

           Customer                        Address
447  Christina Dahl  Parkstigen 00, 80634 Alingsås