In [21]:
import great_expectations as gx
import pandas as pd
import warnings
warnings.filterwarnings("ignore", message="`result_format` configured at the Validator-level*")

# Load the data
df = pd.read_csv("./data/transactions.csv")
df.index += 2
df["timestamp"] = pd.to_datetime(df["timestamp"])


# Create the ephemeral GX context
context = gx.get_context()

# Add a pandas datasource
data_source = context.data_sources.add_pandas(name="pandas")

# Add a dataframe asset
data_asset = data_source.add_dataframe_asset(name="transactions_data")

# Define the batch (entire DataFrame)
batch_definition = data_asset.add_batch_definition_whole_dataframe(name="batch_def")
batch = batch_definition.get_batch(batch_parameters={"dataframe": df})

# Create the expectation suite with a name
suite = gx.core.expectation_suite.ExpectationSuite(name="transactions_suite")

# Get the validator using the suite
validator = context.get_validator(batch=batch, expectation_suite=suite)

# Add expectations
validator.expect_column_values_to_be_between("amount", min_value=0.01, max_value=100000)

# Add expectations for transaction data
validator.expect_column_values_to_not_be_null("transaction_id")
validator.expect_column_values_to_be_unique("transaction_id")

validator.expect_column_values_to_not_be_null("timestamp")

validator.expect_column_values_to_be_between("amount", min_value=0.01)
validator.expect_column_values_to_not_be_null("currency")
validator.expect_column_values_to_match_regex("currency", r"^[A-Z]{3}$")

validator.expect_column_values_to_not_be_null("sender_account")
validator.expect_column_values_to_not_be_null("receiver_account")

validator.expect_column_values_to_not_be_null("sender_country")
validator.expect_column_values_to_not_be_null("receiver_country")

validator.expect_column_values_to_not_be_null("transaction_type")

validator.expect_column_values_to_not_be_null("notes")

# Validate
results = validator.validate()

# "Self-transfers"
same_account = df[df["sender_account"] == df["receiver_account"]]
print(f"Self-transfers: {len(same_account)} transaktioner")
display(same_account)

# Rader med null-värden
rows_with_nulls = df[df.drop(columns=["notes"]).isnull().any(axis=1)]
print(f"Rader med null-värden: {len(rows_with_nulls)}")
display(rows_with_nulls)

# Transaktioner utan notes
missing_notes = df[df["notes"].isnull() | (df["notes"].str.strip() == "")]
print(f"Transaktioner utan notes: {len(missing_notes)}")
display(missing_notes)

# Internationella transaktioner
non_swedish = df[
    (df["sender_country"].str.lower() != "sweden") |
    (df["receiver_country"].str.lower() != "sweden")
]
print(f"Internationella transaktioner: {len(non_swedish)}")
display(non_swedish)

# Upprepade transaktioner mellan samma konto-par
repeated_pairs = df.groupby(["sender_account", "receiver_account"]).size().reset_index(name="count")
suspicious_pairs = repeated_pairs[repeated_pairs["count"] > 2]
print(f"Upprepade transaktioner (över 2): {len(suspicious_pairs)}")
display(suspicious_pairs)

# Många transaktioner med samma belopp (structured)
duplicate_amounts = df.groupby("amount").size().reset_index(name="count")
common_amounts = duplicate_amounts[duplicate_amounts["count"] > 5]
structured_transactions = df[df["amount"].isin(common_amounts["amount"])]
print(f"Structured transactions: {len(structured_transactions)}")
display(structured_transactions)

# "Smurfing":
small_transactions = df[df["amount"] < 1000]
smurfing_counts = small_transactions.groupby("receiver_account")["sender_account"].nunique().reset_index()
smurfing_candidates = smurfing_counts[smurfing_counts["sender_account"] > 5]
smurfing_transactions = small_transactions[small_transactions["receiver_account"].isin(smurfing_candidates["receiver_account"])]
print(f"Smurfing-transaktioner: {len(smurfing_transactions)}")
display(smurfing_transactions)

# Nattliga transaktioner
df["hour"] = df["timestamp"].dt.hour
night_transactions = df[(df["hour"] >= 0) & (df["hour"] <= 5)]
print(f"Nattliga transaktioner (00–05): {len(night_transactions)}")
display(night_transactions)

# Print results
print(results)

Calculating Metrics: 100%|██████████| 8/8 [00:00<00:00, 83.41it/s]
Calculating Metrics: 100%|██████████| 6/6 [00:00<00:00, 383.27it/s]
Calculating Metrics: 100%|██████████| 8/8 [00:00<00:00, 66.86it/s]
Calculating Metrics: 100%|██████████| 6/6 [00:00<00:00, 381.99it/s]
Calculating Metrics: 100%|██████████| 8/8 [00:00<00:00, 60.71it/s]
Calculating Metrics: 100%|██████████| 6/6 [00:00<00:00, 376.63it/s]
Calculating Metrics: 100%|██████████| 8/8 [00:00<00:00, 42.30it/s]
Calculating Metrics: 100%|██████████| 6/6 [00:00<00:00, 190.27it/s]
Calculating Metrics: 100%|██████████| 6/6 [00:00<00:00, 276.32it/s]
Calculating Metrics: 100%|██████████| 6/6 [00:00<00:00, 214.96it/s]
Calculating Metrics: 100%|██████████| 6/6 [00:00<00:00, 280.62it/s]
Calculating Metrics: 100%|██████████| 6/6 [00:00<00:00, 333.81it/s]
Calculating Metrics: 100%|██████████| 6/6 [00:00<00:00, 1592.07it/s]
Calculating Metrics: 100%|██████████| 41/41 [00:00<00:00, 115.42it/s]

Self-transfers: 12 transaktioner

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes
328,5c3baa6f-289f-481c-95e8-18957ce653a2,2025-04-20 23:07:00,15614.07,SEK,SE8902KWRS27148391651848,SE8902KWRS27148391651848,Sweden,Uppsala,Sweden,Lidköping,incoming,Freelance project payment
629,7ee1c800-65d3-4d86-8077-07c754d8464c,2025-04-29 16:18:00,23421.03,SEK,SE8902FBTR73223116722714,SE8902FBTR73223116722714,Sweden,Ängelholm,Sweden,Kalmar,incoming,Reimbursement for travel
1141,33f27841-93b7-41dc-aec1-ff796d18fd6e,2025-05-02 00:09:00,21287.34,SEK,SE8902GUBN02340962282734,SE8902GUBN02340962282734,Sweden,Nyköping,Sweden,Lidköping,incoming,Gift to family member
3430,83167861-8440-4f9d-a6c7-d5dc24170d8f,2025-05-01 23:08:00,47855.61,SEK,SE8902HCFQ50732586147290,SE8902HCFQ50732586147290,Sweden,Umeå,Sweden,Uddevalla,outgoing,Gift to family member
3473,4f9d8e01-80f8-4a00-966b-cdc8397bddd8,2025-01-01 15:15:00,32433.22,SEK,SE8902TJBO76009734317061,SE8902TJBO76009734317061,Sweden,Helsingborg,Sweden,Trelleborg,outgoing,Subscription fee
3662,c75aae3b-fd11-409c-9961-b9f1cf095bd0,2025-03-22 10:24:00,42640.40,SEK,SE8902JHMA69643058655073,SE8902JHMA69643058655073,Sweden,Västerås,Sweden,Eskilstuna,incoming,Subscription fee
4412,ec6d64bf-7f17-490e-9be7-9cf0bedd7733,2025-02-22 03:12:00,37328.08,SEK,SE8902KWRS27148391651848,SE8902KWRS27148391651848,Sweden,Falun,Sweden,Sundsvall,incoming,Freelance project payment
6528,8a2affc9-a2ee-4f84-af04-cbb726f5fa52,2025-04-18 03:15:00,33174.44,SEK,SE8902KWAF90270853352878,SE8902KWAF90270853352878,Sweden,Kalmar,Sweden,Skövde,outgoing,Consulting fee
8401,438b3d21-008e-4644-9714-f6fcc46648dd,2025-01-04 00:13:00,23491.08,SEK,SE8902IAAP17064707009052,SE8902IAAP17064707009052,Sweden,Gävle,Sweden,Eskilstuna,outgoing,Utility bill
8753,cd104bad-80f1-45c9-9562-45e46340ca84,2025-03-19 23:24:00,11035.39,SEK,SE8902NRAS31362495279847,SE8902NRAS31362495279847,Sweden,Landskrona,Sweden,Piteå,outgoing,Rent transfer
9132,711f3b36-81e3-48b7-8911-1a0ae588465b,2025-03-31 17:07:00,24151.86,SEK,SE8902ZCTK81497780781136,SE8902ZCTK81497780781136,Sweden,Umeå,Sweden,Kalmar,incoming,Freelance project payment
9997,556bbb8c-abfa-455c-95f1-eeb853688f29,2025-04-27 15:13:00,20762.17,SEK,SE8902FITK67729451632648,SE8902FITK67729451632648,Sweden,Lidingö,Sweden,Stockholm,incoming,Mobile recharge

Rader med null-värden: 1990

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes
13,0308a664-8b78-40bd-9281-8623b3d2584a,2025-03-08 00:00:00,10977.56,SEK,SE8902MPBO87772633723937,SE8902ZJVA11817265425330,NaN,Uddevalla,Sweden,Skövde,outgoing,Rent transfer
41,5aa50eb5-2f63-4125-b1be-975be4bed7e7,2025-04-03 19:09:00,42150.23,SEK,SE8902FCSV26977507325534,SE8902ZCTK81497780781136,Sweden,NaN,Sweden,Falun,outgoing,Rent transfer
45,32b8ef63-4f95-4891-a39a-8b67a2ca57d9,2025-05-02 06:25:00,30955.77,SEK,SE8902NMLM36956633220058,SE8902BWKM27720380863718,NaN,Örnsköldsvik,Sweden,Gävle,incoming,Freelance project payment
116,8523e30f-e027-41e0-9cfc-f1108759bc2a,2025-02-17 09:04:00,31582.56,SEK,SE8902CFVV30512683866714,SE8902DJPX89629848207656,Sweden,NaN,Sweden,Borlänge,incoming,Subscription fee
181,0af039ef-fc14-481b-a528-98b1913056fc,2025-02-11 10:49:00,32588.84,SEK,SE8902ZRZI47417483372579,SE8902PBJH90393502972632,Sweden,Sundsvall,Sweden,NaN,outgoing,Rent transfer
...,...,...,...,...,...,...,...,...,...,...,...,...
99799,5e6f6a84-f346-43f7-81fb-df328cb227d5,2025-03-28 11:00:00,97.65,USD,GB07QBYD82184262811585,SE8902MQZJ06643246897705,Isle of Man,North Shannonmouth,NaN,Lidingö,incoming,Subscription fee
99848,ed3ffb0e-8c6d-4214-ad5c-695e75f01307,2025-03-04 17:00:00,174.66,USD,GB48JAEP49048996177610,SE8902SEYF48760878274175,NaN,Port Chelseaburgh,Sweden,Falun,outgoing,Tax refund
99875,32a96bcb-cffd-42b5-b88f-c1496c00c068,2025-04-12 09:00:00,64.63,USD,GB64YXJK01516973915322,SE8902AJRJ35802643947946,NaN,Justinbury,NaN,Kristianstad,outgoing,Freelance project payment
99973,0415bedd-a564-44f5-aaf6-b3573ef196c9,2025-03-10 13:00:00,138.11,USD,GB97AIZM30478408283369,SE8902FSHA42297476809642,Nicaragua,Robertfurt,Sweden,NaN,incoming,Insurance payout
99998,f9ab95c4-e33b-478b-8aec-95e182c9582c,2025-03-20 10:00:00,178.02,USD,GB80PSZS32551326940313,SE8902ZJBK03539793529686,Chile,Douglasland,Sweden,NaN,incoming,Gift to family member

Transaktioner utan notes: 9948

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes
6,b078f054-3ce8-4d2a-9173-6e0c94a9bbff,2025-03-01 18:51:00,33570.37,SEK,SE8902NHEC01255630352421,SE8902HQID54921038055598,Sweden,Borlänge,Sweden,Landskrona,outgoing,NaN
8,05488bf0-038a-4c00-9f6b-487b4ed5be7d,2025-03-21 09:05:00,46955.68,SEK,SE8902XCIR72675281902466,SE8902HXLB10149156679316,Sweden,Karlskoga,Sweden,Västerås,incoming,NaN
10,881fa3e9-fc0e-459a-bd44-f23d44073198,2025-01-15 08:00:00,22257.90,SEK,SE8902TVFH53282057943154,SE8902UJGR36411837401781,Sweden,Gävle,Sweden,Stockholm,incoming,NaN
12,bd464ee2-c261-4990-aa85-57c8684569d3,2025-01-01 22:36:00,44200.60,SEK,SE8902IDSK51225196610969,SE8902MRZJ54641003814611,Sweden,Örnsköldsvik,Sweden,Trollhättan,incoming,NaN
14,da61c788-f682-414d-983c-e03d8eb671ea,2025-03-01 19:36:00,37233.58,SEK,SE8902RWKL37240797745939,SE8902LUGA16653984392162,Sweden,Södertälje,Sweden,Nyköping,incoming,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
99946,745fe055-55d3-4e90-8d94-81e33bab5d37,2025-02-08 11:00:00,131.99,USD,GB16VKWS68644690124654,SE8902FKYE96295585801229,Serbia,Potterborough,Sweden,Norrköping,outgoing,NaN
99947,4482de4e-4d08-4f50-9208-3c90ab3afd82,2025-02-27 13:00:00,122.17,USD,GB51URAN04566163048766,SE8902FKYE96295585801229,Tuvalu,West Brookemouth,Sweden,Luleå,outgoing,NaN
99949,97d1650a-dc14-4aa9-94fc-d162539fc3c7,2025-01-15 11:00:00,134.05,USD,GB81KAOC57266720220302,SE8902FKYE96295585801229,Zimbabwe,New Susan,Sweden,Luleå,outgoing,NaN
99963,6e07850e-6373-4f28-9d17-6484f355efb0,2025-02-08 14:00:00,146.97,USD,GB51QDNZ87247965241581,SE8902VBXW33852287376238,Saudi Arabia,Port Terri,Sweden,Karlskrona,incoming,NaN
99966,18611e6f-7779-4db5-a786-5343b6a8568a,2025-03-23 15:00:00,123.63,USD,GB65NMML29472277241215,SE8902VBXW33852287376238,Dominica,Bryanland,Sweden,Sundsvall,incoming,NaN

Internationella transaktioner: 43723

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes
13,0308a664-8b78-40bd-9281-8623b3d2584a,2025-03-08 00:00:00,10977.56,SEK,SE8902MPBO87772633723937,SE8902ZJVA11817265425330,NaN,Uddevalla,Sweden,Skövde,outgoing,Rent transfer
45,32b8ef63-4f95-4891-a39a-8b67a2ca57d9,2025-05-02 06:25:00,30955.77,SEK,SE8902NMLM36956633220058,SE8902BWKM27720380863718,NaN,Örnsköldsvik,Sweden,Gävle,incoming,Freelance project payment
522,ccd9d591-1e7e-4924-9565-406698971238,2025-04-28 09:34:00,15551.69,SEK,SE8902IWLJ80369151603079,SE8902QVDX07065136908695,NaN,Östersund,Sweden,Sandviken,outgoing,NaN
677,99723967-1bc3-4f9f-85ed-cc2bfe675f5c,2025-04-17 11:12:00,46995.74,SEK,SE8902JWPZ44810854846338,SE8902PVDU32397262267370,Sweden,Nyköping,NaN,Falun,outgoing,Salary payment
744,1dd877ea-185c-4f6c-b3f4-668032000d9e,2025-05-12 23:53:00,49040.75,SEK,SE8902JFXZ40334167631989,SE8902DGRO18476288845448,Sweden,Östersund,NaN,Uddevalla,outgoing,Insurance payout
...,...,...,...,...,...,...,...,...,...,...,...,...
99997,434d8f18-6e14-4cce-9d9f-87df435df2ac,2025-01-08 18:00:00,185.75,USD,GB60MTXG64625720338310,SE8902ZJBK03539793529686,Slovenia,South Lindastad,Sweden,Lidingö,outgoing,Tax refund
99998,f9ab95c4-e33b-478b-8aec-95e182c9582c,2025-03-20 10:00:00,178.02,USD,GB80PSZS32551326940313,SE8902ZJBK03539793529686,Chile,Douglasland,Sweden,NaN,incoming,Gift to family member
99999,f440dba2-38fd-44c0-a215-a6480dfa0eb2,2025-05-12 09:00:00,40.05,USD,GB04QBTS95712926778019,SE8902ZJBK03539793529686,Bolivia,Port Albertchester,Sweden,Nyköping,incoming,Subscription fee
100000,9c239619-faff-42bc-bfd8-dcf4225c00be,2025-03-05 15:00:00,133.11,USD,GB07VGVX87678036612717,SE8902ZJBK03539793529686,Cayman Islands,North David,Sweden,Falun,incoming,Mobile recharge
100001,b7ca274f-d179-40ef-9876-f591d0d1973b,2025-05-11 09:00:00,94.23,USD,GB14KJYT03317430210813,SE8902ZJBK03539793529686,Wallis and Futuna,East Paul,Sweden,Lidköping,outgoing,Freelance project payment

Upprepade transaktioner (över 2): 0

Empty DataFrame
Columns: [sender_account, receiver_account, count]
Index: []

Structured transactions: 0

Empty DataFrame
Columns: [transaction_id, timestamp, amount, currency, sender_account, receiver_account, sender_country, sender_municipality, receiver_country, receiver_municipality, transaction_type, notes]
Index: []

Smurfing-transaktioner: 345

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes
1158,0768d874-012e-4e3d-ab57-d7e7abd68613,2025-02-28 11:26:00,628.56,SEK,SE8902ZWKL91581622045409,SE8902ZNHI21783939608864,Sweden,Östersund,Sweden,Ängelholm,incoming,NaN
1700,fe64bd92-b0dc-4b0f-a112-cf9e6ca89824,2025-02-04 01:48:00,154.70,SEK,SE8902NDNE36671961231780,SE8902XXAF74151570423565,Sweden,Linköping,Sweden,Skellefteå,incoming,Payment for invoice #1833
1960,8b4a5e0c-274c-43b0-a611-e973fbef2b1c,2025-03-14 07:15:00,939.61,SEK,SE8902FCSV26977507325534,SE8902MQZJ06643246897705,Sweden,Falun,Sweden,Motala,outgoing,Loan repayment
4608,40e6acbd-d419-42a4-beaa-e5424b7b697e,2025-04-02 12:28:00,149.23,SEK,SE8902UGGW38274485777478,SE8902MQZJ06643246897705,Sweden,Växjö,Sweden,Skellefteå,incoming,Payment for invoice #1096
4883,8c26b18f-d9c9-4d57-97c9-bfb68adce2dd,2025-05-06 13:04:00,550.96,SEK,SE8902ZJEO82962448424927,SE8902XXAF74151570423565,Sweden,Malmö,Sweden,Karlskrona,outgoing,Utility bill
...,...,...,...,...,...,...,...,...,...,...,...,...
99997,434d8f18-6e14-4cce-9d9f-87df435df2ac,2025-01-08 18:00:00,185.75,USD,GB60MTXG64625720338310,SE8902ZJBK03539793529686,Slovenia,South Lindastad,Sweden,Lidingö,outgoing,Tax refund
99998,f9ab95c4-e33b-478b-8aec-95e182c9582c,2025-03-20 10:00:00,178.02,USD,GB80PSZS32551326940313,SE8902ZJBK03539793529686,Chile,Douglasland,Sweden,NaN,incoming,Gift to family member
99999,f440dba2-38fd-44c0-a215-a6480dfa0eb2,2025-05-12 09:00:00,40.05,USD,GB04QBTS95712926778019,SE8902ZJBK03539793529686,Bolivia,Port Albertchester,Sweden,Nyköping,incoming,Subscription fee
100000,9c239619-faff-42bc-bfd8-dcf4225c00be,2025-03-05 15:00:00,133.11,USD,GB07VGVX87678036612717,SE8902ZJBK03539793529686,Cayman Islands,North David,Sweden,Falun,incoming,Mobile recharge
100001,b7ca274f-d179-40ef-9876-f591d0d1973b,2025-05-11 09:00:00,94.23,USD,GB14KJYT03317430210813,SE8902ZJBK03539793529686,Wallis and Futuna,East Paul,Sweden,Lidköping,outgoing,Freelance project payment

Nattliga transaktioner (00–05): 23576

,transaction_id,timestamp,amount,currency,sender_account,receiver_account,sender_country,sender_municipality,receiver_country,receiver_municipality,transaction_type,notes,hour
2,62cacc89-95ca-41c0-a06f-d12950c85a37,2025-01-08 03:17:00,1174.47,SEK,SE8902ZCTK81497780781136,SE8902GGWE97497502378359,Sweden,Södertälje,Sweden,Stockholm,outgoing,Tax refund,3
13,0308a664-8b78-40bd-9281-8623b3d2584a,2025-03-08 00:00:00,10977.56,SEK,SE8902MPBO87772633723937,SE8902ZJVA11817265425330,NaN,Uddevalla,Sweden,Skövde,outgoing,Rent transfer,0
16,ccc76011-9857-40a8-b951-b8c90144449a,2025-04-09 05:56:00,31999.11,SEK,SE8902EHQT53687871208531,SE8902GORN68994003453353,Sweden,Kalmar,Sweden,Nyköping,outgoing,Reimbursement for travel,5
18,e0827340-f916-4f38-b268-ed6570416886,2025-02-26 04:23:00,15452.26,SEK,SE8902BUUB70684057188314,SE8902GHSB29020078073922,Sweden,Uddevalla,Sweden,Göteborg,outgoing,Loan repayment,4
19,4fab6c87-e40f-4e77-8dc2-43aa086c946c,2025-03-20 01:11:00,23696.98,SEK,SE8902JTIU30473679174736,SE8902MPWG51569045484865,Sweden,Helsingborg,Sweden,Norrköping,incoming,Tax refund,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94686,a3fbd1b0-8521-4536-aaae-ac362a217550,2025-05-15 01:50:00,20733.90,USD,GB47ZXMR67509533266059,SE8902SICI51731283266081,Philippines,New Cassandra,Sweden,Karlstad,outgoing,Subscription fee,1
94687,399b5fd8-a005-4999-a9c1-12fffb5903e9,2025-01-17 02:20:00,22126.82,SEK,GB26ANKF67932902146724,SE8902ZIPR73751541971020,Sweden,Västerås,Sweden,Skövde,incoming,Loan repayment,2
94693,7fa2f5c5-2013-4811-abc0-60681dbc4ce6,2025-02-22 03:07:00,33285.80,USD,GB25VXLB68975086674821,SE8902OATV02658940061811,Mauritius,Williamville,Sweden,Nyköping,outgoing,Subscription fee,3
94698,cd29ac9e-d25b-4312-8ba4-2f011499e2f6,2025-03-01 05:48:00,36842.42,SEK,SE8902NRAS31362495279847,GB11NTUR17506359534994,Sweden,Östersund,Eritrea,Josephtown,outgoing,NaN,5
94700,80d915fd-aa04-4671-b18a-d45fe8df8ae7,2025-05-08 03:03:00,18883.43,SEK,SE8902OETG93189334327881,GB22DXBD90247826714228,Sweden,Borlänge,Poland,Skierniewice,outgoing,Utility bill,3

{
  "success": false,
  "results": [
    {
      "success": true,
      "expectation_config": {
        "type": "expect_column_values_to_be_between",
        "kwargs": {
          "batch_id": "pandas-transactions_data",
          "column": "amount",
          "min_value": 0.01
        },
        "meta": {}
      },
      "result": {
        "element_count": 100000,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "partial_unexpected_list": [],
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "type": "expect_column_values_to_not_be_null",
        "kwargs": {
          "batch_id": "pandas-transactions_data",
          "column": "transaction_id"
        },
        "meta": {}
      },
      "result": {
        "element_count": 100000,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "type": "expect_column_values_to_be_unique",
        "kwargs": {
          "batch_id": "pandas-transactions_data",
          "column": "transaction_id"
        },
        "meta": {}
      },
      "result": {
        "element_count": 100000,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "partial_unexpected_list": [],
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "type": "expect_column_values_to_not_be_null",
        "kwargs": {
          "batch_id": "pandas-transactions_data",
          "column": "timestamp"
        },
        "meta": {}
      },
      "result": {
        "element_count": 100000,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "type": "expect_column_values_to_not_be_null",
        "kwargs": {
          "batch_id": "pandas-transactions_data",
          "column": "currency"
        },
        "meta": {}
      },
      "result": {
        "element_count": 100000,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "type": "expect_column_values_to_match_regex",
        "kwargs": {
          "batch_id": "pandas-transactions_data",
          "column": "currency",
          "regex": "^[A-Z]{3}$"
        },
        "meta": {}
      },
      "result": {
        "element_count": 100000,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "partial_unexpected_list": [],
        "missing_count": 0,
        "missing_percent": 0.0,
        "unexpected_percent_total": 0.0,
        "unexpected_percent_nonmissing": 0.0
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "type": "expect_column_values_to_not_be_null",
        "kwargs": {
          "batch_id": "pandas-transactions_data",
          "column": "sender_account"
        },
        "meta": {}
      },
      "result": {
        "element_count": 100000,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "type": "expect_column_values_to_not_be_null",
        "kwargs": {
          "batch_id": "pandas-transactions_data",
          "column": "receiver_account"
        },
        "meta": {}
      },
      "result": {
        "element_count": 100000,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    },
    {
      "success": false,
      "expectation_config": {
        "type": "expect_column_values_to_not_be_null",
        "kwargs": {
          "batch_id": "pandas-transactions_data",
          "column": "sender_country"
        },
        "meta": {}
      },
      "result": {
        "element_count": 100000,
        "unexpected_count": 500,
        "unexpected_percent": 0.5,
        "partial_unexpected_list": [
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null
        ]
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    },
    {
      "success": false,
      "expectation_config": {
        "type": "expect_column_values_to_not_be_null",
        "kwargs": {
          "batch_id": "pandas-transactions_data",
          "column": "receiver_country"
        },
        "meta": {}
      },
      "result": {
        "element_count": 100000,
        "unexpected_count": 500,
        "unexpected_percent": 0.5,
        "partial_unexpected_list": [
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null
        ]
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    },
    {
      "success": true,
      "expectation_config": {
        "type": "expect_column_values_to_not_be_null",
        "kwargs": {
          "batch_id": "pandas-transactions_data",
          "column": "transaction_type"
        },
        "meta": {}
      },
      "result": {
        "element_count": 100000,
        "unexpected_count": 0,
        "unexpected_percent": 0.0,
        "partial_unexpected_list": []
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    },
    {
      "success": false,
      "expectation_config": {
        "type": "expect_column_values_to_not_be_null",
        "kwargs": {
          "batch_id": "pandas-transactions_data",
          "column": "notes"
        },
        "meta": {}
      },
      "result": {
        "element_count": 100000,
        "unexpected_count": 9948,
        "unexpected_percent": 9.948,
        "partial_unexpected_list": [
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null
        ]
      },
      "meta": {},
      "exception_info": {
        "raised_exception": false,
        "exception_traceback": null,
        "exception_message": null
      }
    }
  ],
  "suite_name": "transactions_suite",
  "suite_parameters": {},
  "statistics": {
    "evaluated_expectations": 12,
    "successful_expectations": 9,
    "unsuccessful_expectations": 3,
    "success_percent": 75.0
  },
  "meta": {
    "great_expectations_version": "1.4.6",
    "expectation_suite_name": "transactions_suite",
    "run_id": {
      "run_name": null,
      "run_time": "2025-05-29T16:57:33.231187+02:00"
    },
    "batch_spec": {
      "batch_data": "PandasDataFrame"
    },
    "batch_markers": {
      "ge_load_time": "20250529T145732.106457Z",
      "pandas_data_fingerprint": "791927187530bd7da2db7913d4b0bc3a"
    },
    "active_batch_definition": {
      "datasource_name": "pandas",
      "data_connector_name": "fluent",
      "data_asset_name": "transactions_data",
      "batch_identifiers": {
        "dataframe": "<DATAFRAME>"
      }
    },
    "validation_time": "20250529T145733.231187Z",
    "checkpoint_name": null
  },
  "id": null
}